extends layout 

block content
  main.container
    h1.text-center= title
    div.text-right
      a.add-button(href="/usuarios") Lista de Usuarios
      a.add-button(href="/usuarios/create") Crear Usuario